.wrapper {
  padding: 1rem 2rem;
  position: absolute;
  top: calc(var(--header-height) + 10px);
  right: 20px;
  background-color: var(--red-color);
  border-radius: 5px;
  z-index: 2;
}

.text {
  color: var(--white-color);
  letter-spacing: 0.7px;
}
