.header {
  width: 100%;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--white-color);
}

.button {
  font-size: 1.2rem;
  color: var(--white-color);
}

.fileInput {
  display: none;
}

.uploadButton {
  display: block;
  border: none;
  cursor: pointer;
}
