.footer {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.text {
  color: var(--white-color);
  font-size: 1.2rem;
}
